.admin-products-page-body {
  padding: 0 2rem;
}

.admin-products-page-header {
  width: 100%;
}

.admin-products-page-header span {
  font-weight: bold;
  font-size: 2rem;
  background: rgb(237, 228, 100);
  background: linear-gradient(77deg, rgba(237, 228, 100, 1) 0%, rgba(240, 178, 178, 1) 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.admin-products-main-container {
  padding-right: 4rem;
}

.admin-products-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  height: 3rem;
}

.admin-filter-container-button {
  outline: none;
  border: none;
  width: 11rem;
  height: 100%;
  border-radius: 1rem;
  background: linear-gradient(225deg, rgba(231, 51, 51, 1), rgba(204, 141, 92, 1));
  transition: all ease-in-out 150ms;
  font-weight: bold;
  color: whitesmoke;
  -webkit-box-shadow: 0px 0px 91px -42px rgba(56, 56, 56, 1);
  -moz-box-shadow: 0px 0px 91px -42px rgba(56, 56, 56, 1);
  box-shadow: 0px 0px 91px -42px rgba(56, 56, 56, 1);
  margin-left: auto;
}

.admin-filter-container-button:active {
  transform: scale(0.95);
}

.admin-filter-search-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
  margin-right: 1rem;
  position: relative;
}

.admin-filter-search-container input {
  width: 100%;
  padding-left: 1rem;
  height: 2.5rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: #fcfcfc;
  transition: all ease-in-out 150ms;
}

.admin-filter-search-container input:focus {
  box-shadow: 2px 2px 13px #cbcfd1;
}

.admin-filter-searh-container button {
  width: 8rem;
  height: 2.5rem;
  margin-right: 1rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background: rgb(105, 152, 205);
  background: linear-gradient(24deg, rgba(105, 152, 205, 1) 31%, rgba(205, 58, 58, 1) 87%);
  font-weight: 500;
  color: #fcfcfc;
  transition: all ease-in-out 150ms;
  -webkit-box-shadow: 0px 0px 199px -48px rgba(15, 15, 15, 1);
  -moz-box-shadow: 0px 0px 199px -48px rgba(15, 15, 15, 1);
  box-shadow: 0px 0px 199px -48px rgba(15, 15, 15, 1);
}

.admin-filter-searh-container button:active {
  transform: scale(0.95);
}

.admin-filter-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 1rem;
  font-weight: 500;
}

.filter-label-text {
  margin-right: 0.3rem;
  color: #c5c5c5;
}

.admin-filter-container select {
  border: none;
  outline: none;
  height: 2.5rem;
  border-radius: 1rem;
  padding: 0.3rem;
  background: rgba(255, 255, 255, 0.1);
  transition: all ease-in-out 150ms;
  font-weight: 500;
  color: #c5c5c5;
  cursor: pointer;
}

.admin-filter-container select:focus {
  box-shadow: 2px 2px 13px #cbcfd1;
}

.admin-products-list-container {
  width: 100%;
  border-radius: 1.5rem;
  background-image: linear-gradient(30deg, #fcfcfc 12%, transparent 12.5%, transparent 87%, #fcfcfc 87.5%, #fcfcfc),
    linear-gradient(150deg, #fcfcfc 12%, transparent 12.5%, transparent 87%, #fcfcfc 87.5%, #fcfcfc),
    linear-gradient(30deg, #fcfcfc 12%, transparent 12.5%, transparent 87%, #fcfcfc 87.5%, #fcfcfc),
    linear-gradient(150deg, #fcfcfc 12%, transparent 12.5%, transparent 87%, #fcfcfc 87.5%, #fcfcfc),
    linear-gradient(
      60deg,
      rgba(252, 252, 252, 0.5) 25%,
      transparent 25.5%,
      transparent 75%,
      rgba(252, 252, 252, 0.5) 75%,
      rgba(252, 252, 252, 0.5)
    ),
    linear-gradient(
      60deg,
      rgba(252, 252, 252, 0.5) 25%,
      transparent 25.5%,
      transparent 75%,
      rgba(252, 252, 252, 0.5) 75%,
      rgba(252, 252, 252, 0.5)
    );
  background-size: 112px 196px;
  background-position: 0 0, 0 0, 56px 98px, 56px 98px, 0 0, 56px 98px;
  background-color: #c5c5c5;
  padding: 1rem;
  -webkit-box-shadow: inset 0px 0px 129px -25px rgba(56, 56, 56, 1);
  -moz-box-shadow: inset 0px 0px 129px -25px rgba(56, 56, 56, 1);
  box-shadow: inset 0px 0px 129px -25px rgba(56, 56, 56, 1);
}

.admin-products-container {
  height: 5.5rem;
  width: 100%;
  border-radius: 1.5rem;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50.41' height='87' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 92%, 1)'/><path d='M25.3 87L12.74 65.25m0 14.5h-25.12m75.18 0H37.68M33.5 87l25.28-43.5m-50.23 29l4.19 7.25L16.92 87h-33.48m33.48 0h16.75-8.37zM8.55 72.5L16.92 58m50.06 29h-83.54m79.53-50.75L50.4 14.5M37.85 65.24L50.41 43.5m0 29l12.56-21.75m-50.24-14.5h25.12zM33.66 29l4.2 7.25 4.18 7.25M33.67 58H16.92l-4.18-7.25M-8.2 72.5l20.92-36.25L33.66 0m25.12 72.5H42.04l-4.19-7.26L33.67 58l4.18-7.24 4.19-7.25M33.67 29l8.37-14.5h16.74m0 29H8.38m29.47 7.25H12.74M50.4 43.5L37.85 21.75m-.17 58L25.12 58M12.73 36.25L.18 14.5M0 43.5l-12.55-21.75M24.95 29l12.9-21.75M12.4 21.75L25.2 0M12.56 7.25h-25.12m75.53 0H37.85M58.78 43.5L33.66 0h33.5m-83.9 0h83.89M33.32 29H16.57l-4.18-7.25-4.2-7.25m.18 29H-8.37M-16.74 0h33.48l-4.18 7.25-4.18 7.25H-8.37m8.38 58l12.73-21.75m-25.3 14.5L0 43.5m-8.37-29l21.1 36.25 20.94 36.24M8.37 72.5H-8.36'  stroke-width='1.5' stroke='hsla(259, 1%, 88%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  display: flex;
  align-items: center;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 86px -83px rgba(56, 56, 56, 1);
  -moz-box-shadow: inset 0px 0px 86px -83px rgba(56, 56, 56, 1);
  box-shadow: inset 0px 0px 86px -83px rgba(56, 56, 56, 1);
  font-weight: 600;
  margin-bottom: 1rem;
  filter: drop-shadow(0px 0px 7px #1e1e1e);
}

.admin-product-index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5%;
  font-weight: bold;
}

.admin-subtext {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.admin-product-category {
  height: 100%;
  width: 12%;
  display: flex;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
}

.admin-product-name {
  width: 55%;
  height: 100%;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.admin-product-image {
  width: 12%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.admin-product-image img {
  width: 100%;
  object-fit: contain;
}

.admin-product-button {
  width: 16%;
  height: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-product-button button {
  outline: none;
  border: none;
  width: 95%;
  height: 3rem;
  border-radius: 1rem;
  background: rgb(202, 205, 105);
  background: linear-gradient(24deg, rgba(202, 205, 105, 1) 31%, rgba(140, 205, 58, 1) 87%);
  transition: all ease-in-out 150ms;
  font-weight: bold;
  color: white;
  -webkit-box-shadow: 0px 0px 86px -35px rgba(56, 56, 56, 1);
  -moz-box-shadow: 0px 0px 86px -35px rgba(56, 56, 56, 1);
  box-shadow: 0px 0px 86px -35px rgba(56, 56, 56, 1);
}

.admin-product-button button:active {
  transform: scale(0.95);
}

.admin-products-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.admin-products-nav-container button {
  outline: none;
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background: linear-gradient(24deg, rgba(202, 205, 105, 1) 31%, rgba(140, 205, 58, 1) 87%);
  transition: all ease-in-out 150ms;
}

.admin-products-nav-container button:active {
  transform: scale(0.95);
}

.admin-products-nav-container span {
  margin: 0 0.5rem;
  font-size: 1.2rem;
  background: rgb(237, 228, 100);
  background: linear-gradient(24deg, rgba(202, 205, 105, 1) 31%, rgba(140, 205, 58, 1) 87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
