.page-header {
  font-size: 35px;
  line-height: 40px;
  font-weight: bold;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease-in-out 100ms;
  cursor: pointer;
}

.page-header:hover {
  text-shadow: 2px 2px 13px #cbcfd1;
}

.category-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 2px 3px 130px -21px rgba(207, 197, 197, 0.34);
  -webkit-box-shadow: 2px 3px 130px -21px rgba(207, 197, 197, 0.34);
  -moz-box-shadow: 2px 3px 130px -21px rgba(207, 197, 197, 0.34);
}

.category-container span {
  padding-left: 0.4rem;
  font-weight: 800;
  font-size: 1rem;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease-in-out 100ms;
}

.category-container .line {
  height: 2px;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
  width: 95%;
  background: rgb(221, 207, 3);
  background: linear-gradient(329deg, rgba(221, 207, 3, 1) 0%, rgba(207, 194, 194, 1) 100%);
}

.category-btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  color: rgb(193, 200, 220);
  text-shadow: 0px 1px 5px #000000;
  padding: 0.2rem 0.3rem;
  margin: 0.2rem 0;
  width: 100%;
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  border-radius: 0.5rem;
  transition: all ease-in-out 100ms;
}

.category-btn span {
  padding-right: 0.5rem;
}

.category-btn:hover {
  color: rgb(41, 41, 41);
  background-color: rgb(157, 157, 157);
  box-shadow: -1px 4px 56px 8px rgba(207, 207, 207, 0.9);
  -webkit-box-shadow: -1px 4px 56px 9px rgba(207, 207, 207, 0.9);
  -moz-box-shadow: -1px 4px 56px 9px rgba(207, 207, 207, 0.9);
  text-shadow: none;
  padding-left: 0.5rem;
}
.sort-product {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.items-container {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 10px -1px 110px -32px rgba(119, 65, 176, 0.75);
  -webkit-box-shadow: 10px -1px 110px -32px rgba(119, 65, 176, 0.75);
  -moz-box-shadow: 10px -1px 110px -32px rgba(119, 65, 176, 0.75);
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.sort-select {
  border: none;
  outline: none;
  width: 90%;
  margin: auto;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  color: rgb(193, 200, 220);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.76);
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(165, 165, 165, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all ease-in-out 150ms;
  cursor: pointer;
}

.sort-select:focus {
  box-shadow: 2px 2px 13px #cbcfd1;
}

.sort-select option {
  color: rgb(193, 200, 220);
  font-weight: 600;
  background: rgb(141, 141, 141);
  border-radius: 1rem;
}

.page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.page-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-display {
  font-size: 1.2rem;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0.7rem;
}

.btn-page {
  outline: none;
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.796);
  transition: all ease-in-out 150ms;
}

.btn-page:hover {
  box-shadow: 2px 2px 223px -86px rgba(66, 131, 150, 0.67);
  -webkit-box-shadow: 2px 2px 223px -86px rgba(66, 131, 150, 0.67);
  -moz-box-shadow: 2px 2px 223px -86px rgba(66, 131, 150, 0.67);
}

.btn-page:active {
  transform: scale(0.95);
}

.error-message-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-message-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.error-message-header text {
  font-size: 5rem;
  font-weight: bold;
  background-color: #8ec5fc;
  background: linear-gradient(15deg, rgba(238, 240, 71, 1), rgba(215, 216, 217, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 5px rgba(206, 206, 206, 0.28);
}

.error-message-content {
  margin-bottom: 0.5rem;
}

.error-message-content text {
  font-size: 1.3rem;
  background: linear-gradient(15deg, rgba(238, 240, 71, 1), rgba(215, 216, 217, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 5px rgba(206, 206, 206, 0.28);
}

.error-message-link text {
  color: rgb(221, 221, 221);
  font-weight: 300;
  cursor: pointer;
  transition: all ease-in-out 150ms;
}

.error-message-link text:hover {
  text-shadow: 0px 0px 14px rgba(206, 206, 206, 0.84);
}
