.product-card {
  width: 14rem;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
  background: rgb(189, 191, 200);
  background: linear-gradient(180deg, rgba(189, 191, 200, 1) 0%, rgba(129, 129, 129, 1) 100%);
  overflow: hidden;
  cursor: pointer;
  transition: ease-in-out all 100ms;
}

.product-card:hover {
  box-shadow: 4px 5px 33px 13px rgba(138, 42, 211, 0.357);
  transform: translateY(-2%);
}

.product-card .card-image {
  height: 11rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}
.product-card img {
  object-fit: contain;
  height: 100%;
}
.product-card .card-info {
  height: 8rem;
  padding: 0.5rem 1rem;
}

.product-card .card-title {
  padding: none;
  margin: none;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.885);
  text-shadow: -1px 1px 10px rgba(45, 24, 106, 0.8);
}

.product-card .card-title:hover {
  color: rgb(83, 35, 119);
  text-shadow: -1px 1px 10px rgba(94, 94, 94, 0.8);
}

.product-card .card-subtitle {
  padding: none;
  margin: none;
  font-size: 1rem;
  font-weight: 500;
}

.product-card .card-link {
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.details-link:hover {
  text-decoration: underline;
}
