.product-details-body {
  padding: 5vh 0;
}

.product-details-container {
  height: 75vh;
  width: 60vw;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.076);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  -webkit-box-shadow: 0px 0px 38px -14px rgba(240, 240, 240, 1);
  -moz-box-shadow: 0px 0px 38px -14px rgba(240, 240, 240, 1);
  box-shadow: 0px 0px 38px -14px rgba(240, 240, 240, 1);
}

.product-details-image-container {
  width: 63%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  -webkit-box-shadow: 0px 0px 49px -9px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 0px 49px -9px rgba(189, 189, 189, 1);
  box-shadow: 0px 0px 49px -9px rgba(189, 189, 189, 1);
  padding: 1.5rem;
}

.product-details-image-container img {
  width: 100%;
  object-fit: contain;
}

.product-details-content-container {
  height: 100%;
  width: 37%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  opacity: 0.9;
  background-image: linear-gradient(30deg, #cccccc 12%, transparent 12.5%, transparent 87%, #cccccc 87.5%, #cccccc),
    linear-gradient(150deg, #cccccc 12%, transparent 12.5%, transparent 87%, #cccccc 87.5%, #cccccc),
    linear-gradient(30deg, #cccccc 12%, transparent 12.5%, transparent 87%, #cccccc 87.5%, #cccccc),
    linear-gradient(150deg, #cccccc 12%, transparent 12.5%, transparent 87%, #cccccc 87.5%, #cccccc),
    linear-gradient(60deg, #cccccc77 25%, transparent 25.5%, transparent 75%, #cccccc77 75%, #cccccc77),
    linear-gradient(60deg, #cccccc77 25%, transparent 25.5%, transparent 75%, #cccccc77 75%, #cccccc77);
  background-size: 16px 28px;
  background-position: 0 0, 0 0, 8px 14px, 8px 14px, 0 0, 8px 14px;
  -webkit-box-shadow: 0px 0px 49px -9px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 0px 49px -9px rgba(189, 189, 189, 1);
  box-shadow: 0px 0px 49px -9px rgba(189, 189, 189, 1);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

.product-details-info {
  padding: 1rem;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top-right-radius: 1rem;
}

.product-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35%;
  margin-bottom: 0.5rem;
}

.product-title {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
  background: rgb(169, 84, 226);
  background: linear-gradient(51deg, rgba(169, 84, 226, 1) 0%, rgba(255, 78, 78, 1) 50%, rgba(231, 162, 66, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-price {
  font-size: 1.3rem;
  font-weight: 500;
  text-shadow: 0px 0px 14px rgba(0, 87, 194, 0.71);
}

.product-info-container {
  background-color: rgba(163, 163, 163, 0.8);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.7rem;
}

.product-info {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
}

.product-metadata-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0.5rem;
}

.product-metadata {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 600;
  border-radius: 5px;
  color: #272727;
}

.product-metadata text {
  padding-left: 0.2rem;
}

.best {
  background-color: rgb(140, 199, 81);
}

.new {
  background-color: rgb(80, 123, 187);
}

.product-details-action {
  height: 25%;
  border-bottom-right-radius: 1rem;
}

.button-container {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.btn-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  color: white;
  background: linear-gradient(30deg, rgba(144, 144, 144, 1), rgba(91, 91, 91, 1));
  transition: all ease 100ms;
  position: relative;
  z-index: 99;
  right: -0.9rem;
  cursor: pointer;
}

.btn-min {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  color: white;
  background: linear-gradient(30deg, rgba(144, 144, 144, 1), rgba(91, 91, 91, 1));
  transition: all ease 100ms;
  position: relative;
  z-index: 99;
  right: 0.9rem;
  cursor: pointer;
}

.btn-plus:active,
.btn-min:active {
  transform: scale(0.9);
}

.qty-container {
  height: 2rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  filter: brightness(120%);
}

.qty-container span {
  font-size: 1rem;
  font-weight: bold;
}

.button-buy-container {
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-btn {
  border: none;
  outline: none;
  width: 11rem;
  height: 2.5rem;
  border-radius: 1rem;
  background: linear-gradient(30deg, rgba(111, 231, 76, 1), rgba(58, 162, 168, 1));
  color: white;
  font-weight: bold;
  transition: all ease-in-out 100ms;
}

.card-btn:hover {
  box-shadow: 2px 2px 71px 35px rgba(21, 248, 97, 0.75);
  -webkit-box-shadow: 2px 2px 71px 35px rgba(74, 255, 133, 0.75);
  -moz-box-shadow: 2px 2px 71px 35px rgba(74, 255, 133, 0.75);
}

.button-buy-container button:active {
  color: rgb(198, 255, 85);
  transform: scale(0.9);
}
