.product-details-body {
  padding: 5vh 0;
}

.product-details-container {
  height: 75vh;
  width: 60vw;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.076);
  box-shadow: 0 8px 32px 0 rgba(55, 55, 55, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.product-details-image-container {
  width: 63%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 24px 2px rgba(219, 219, 219, 0.75);
  -webkit-box-shadow: 2px 2px 24px 2px rgba(219, 219, 219, 0.75);
  -moz-box-shadow: 2px 2px 24px 2px rgba(219, 219, 219, 0.75);
}

.product-details-image-container img {
  width: 100%;
  object-fit: contain;
}

.product-details-content-container {
  height: 100%;
  width: 37%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-color: #ffffff;
  opacity: 0.8;
  background-image: linear-gradient(30deg, #d8d8d8 12%, transparent 12.5%, transparent 87%, #d8d8d8 87.5%, #d8d8d8),
    linear-gradient(150deg, #d8d8d8 12%, transparent 12.5%, transparent 87%, #d8d8d8 87.5%, #d8d8d8),
    linear-gradient(30deg, #d8d8d8 12%, transparent 12.5%, transparent 87%, #d8d8d8 87.5%, #d8d8d8),
    linear-gradient(150deg, #d8d8d8 12%, transparent 12.5%, transparent 87%, #d8d8d8 87.5%, #d8d8d8),
    linear-gradient(60deg, #d8d8d877 25%, transparent 25.5%, transparent 75%, #d8d8d877 75%, #d8d8d877),
    linear-gradient(60deg, #d8d8d877 25%, transparent 25.5%, transparent 75%, #d8d8d877 75%, #d8d8d877);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  box-shadow: 2px 2px 24px 2px rgba(87, 87, 87, 0.75);
  -webkit-box-shadow: 2px 2px 24px 2px rgba(87, 87, 87, 0.75);
  -moz-box-shadow: 2px 2px 24px 2px rgba(87, 87, 87, 0.75);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

.product-details-info {
  padding: 1rem;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top-right-radius: 1rem;
}

.product-title-container {
  display: flex;
  flex-direction: column;
  height: 38%;
}

.product-title {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgb(138, 91, 167) 0%, rgb(248, 52, 52) 50%, rgb(179, 144, 95) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 2px 7px rgba(118, 118, 118, 0.844);
}

.product-price {
  font-size: 1.3rem;
  font-weight: 500;
  text-shadow: 1px 2px 7px rgba(28, 27, 87, 0.809);
}

.product-info-container {
  border-radius: 1rem;
  background-color: rgba(226, 226, 226, 0.857);
  height: 38%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 2px 2px 73px -27px rgba(87, 87, 87, 0.75) inset;
  -webkit-box-shadow: 2px 2px 73px -27px rgba(87, 87, 87, 0.75) inset;
  -moz-box-shadow: 2px 2px 73px -27px rgba(87, 87, 87, 0.75) inset;
}

.product-info {
  font-weight: 500;
  line-height: 1.1rem;
  font-size: 1rem;
  text-shadow: 1px 2px 7px rgba(79, 73, 36, 0.68);
}

.product-metadata-container {
  height: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
}

.product-metadata {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  margin: 0.1rem 0;
  color: #fffefe;
  box-shadow: 2px 3px 119px 14px rgba(148, 147, 147, 0.34);
  -webkit-box-shadow: 2px 3px 119px 14px rgba(148, 147, 147, 0.34);
  -moz-box-shadow: 2px 3px 119px 14px rgba(148, 147, 147, 0.34);
}

.best {
  background-color: rgb(140, 199, 81);
}

.new {
  background-color: rgb(80, 123, 187);
}

.free {
  background-color: rgba(208, 82, 82, 0.905);
}

.product-details-action {
  height: 25%;
  border-bottom-right-radius: 1rem;
}

.button-container {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.button-container button {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background: linear-gradient(30deg, rgba(144, 144, 144, 1), rgba(91, 91, 91, 1));
  transition: all ease 100ms;
  position: relative;
  color: white;
  font-weight: bold;
}

.btn-plus {
  right: -0.9rem;
}

.btn-min {
  left: -0.9rem;
}

.button-container button:active {
  transform: scale(0.9);
}

.qty-container {
  height: 2rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.qty-container span {
  font-size: 1rem;
  font-weight: bold;
}

.button-buy-container {
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-btn {
  border: none;
  outline: none;
  width: 8rem;
  height: 2.5rem;
  border-radius: 1rem;
  background: linear-gradient(30deg, rgba(111, 231, 76, 1), rgba(58, 162, 168, 1));
  color: white;
  font-weight: bold;
  transition: all ease-in-out 100ms;
}

.card-btn:hover {
  box-shadow: 2px 2px 71px 35px rgba(21, 248, 97, 0.75);
  -webkit-box-shadow: 2px 2px 71px 35px rgba(74, 255, 133, 0.75);
  -moz-box-shadow: 2px 2px 71px 35px rgba(74, 255, 133, 0.75);
}

.button-buy-container button:active {
  color: rgb(184, 250, 51);
  transform: scale(0.9);
}
