.product-details-body {
  padding: 5vh 0;
}

.product-details-container {
  height: 75vh;
  width: 60vw;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  -webkit-backdrop-filter: blur(9px);
  -webkit-box-shadow: 0px 0px 38px -14px rgba(240, 240, 240, 1);
  -moz-box-shadow: 0px 0px 38px -14px rgba(240, 240, 240, 1);
  box-shadow: 0px 0px 38px -14px rgba(240, 240, 240, 1);
}

.product-details-image-container {
  width: 63%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  -webkit-box-shadow: 0px 0px 49px -9px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 0px 49px -9px rgba(189, 189, 189, 1);
  box-shadow: 0px 0px 49px -9px rgba(189, 189, 189, 1);
  padding: 1.5rem;
}

.product-details-image-container img {
  width: 100%;
  object-fit: contain;
}

.product-details-content-container {
  height: 100%;
  width: 37%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  opacity: 0.8;
  background-image: linear-gradient(30deg, #e9e9e9 12%, transparent 12.5%, transparent 87%, #e9e9e9 87.5%, #e9e9e9),
    linear-gradient(150deg, #e9e9e9 12%, transparent 12.5%, transparent 87%, #e9e9e9 87.5%, #e9e9e9),
    linear-gradient(30deg, #e9e9e9 12%, transparent 12.5%, transparent 87%, #e9e9e9 87.5%, #e9e9e9),
    linear-gradient(150deg, #e9e9e9 12%, transparent 12.5%, transparent 87%, #e9e9e9 87.5%, #e9e9e9),
    linear-gradient(60deg, #e9e9e977 25%, transparent 25.5%, transparent 75%, #e9e9e977 75%, #e9e9e977),
    linear-gradient(60deg, #e9e9e977 25%, transparent 25.5%, transparent 75%, #e9e9e977 75%, #e9e9e977);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  -webkit-box-shadow: 0px 0px 49px -9px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 0px 49px -9px rgba(189, 189, 189, 1);
  box-shadow: 0px 0px 49px -9px rgba(189, 189, 189, 1);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

.product-details-info {
  padding: 1rem;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top-right-radius: 1rem;
}

.product-title-container {
  display: flex;
  flex-direction: column;
  height: max-content;
  margin-bottom: 0.5rem;
}

.product-title {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin: 0.3rem 0;
  background: rgb(169, 84, 226);
  background: linear-gradient(51deg, rgba(169, 84, 226, 1) 0%, rgba(255, 78, 78, 1) 50%, rgba(231, 162, 66, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-price {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.2rem 0;
  text-shadow: 0px 0px 12px rgba(0, 87, 194, 0.71);
}

.product-title-subtext-container {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.product-stock {
  font-size: 0.9rem;
  font-weight: 500;
}

.product-info-container {
  background-color: rgba(163, 163, 163, 0.8);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.7rem;
}

.product-info {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
}

.product-metadata-container {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

.product-metadata {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  color: #272727;
}

.product-metadata span {
  padding-left: 0.2rem;
}

.product-details-action {
  height: 25%;
  border-bottom-right-radius: 1rem;
}

.product-details-button-container {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  text-align: center;
  color: white;
  background: linear-gradient(30deg, rgba(144, 144, 144, 1), rgba(91, 91, 91, 1));
  transition: all ease 150ms;
  position: absolute;
  z-index: 99;
  top: 0.7rem;
  left: 6.5rem;
}

.btn-min {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  color: white;
  background: linear-gradient(30deg, rgba(144, 144, 144, 1), rgba(91, 91, 91, 1));
  transition: all ease 150ms;
  position: absolute;
  z-index: 99;
  top: 0.7;
  right: 6.5rem;
}

.btn-plus:active,
.btn-min:active {
  transform: scale(0.9);
}

.qty--container {
  height: 1.7rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  font-weight: bold;
  filter: brightness(120%);
}

.qty--container input {
  border: none;
  outline: none;
  padding-left: 1.5rem;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.21);
}

.button-buy-container {
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-btn {
  border: none;
  outline: none;
  width: 11rem;
  height: 2.5rem;
  border-radius: 1rem;
  background: linear-gradient(30deg, rgba(111, 231, 76, 1), rgba(58, 162, 168, 1));
  color: rgba(255, 255, 255, 0.912);
  font-weight: bold;
  transition: all ease-in-out 200ms;
}

.cart-btn:hover {
  color: rgb(198, 255, 85);
  -webkit-box-shadow: 0px 0px 29px -11px rgba(69, 168, 112, 1);
  -moz-box-shadow: 0px 0px 29px -11px rgba(69, 168, 112, 1);
  box-shadow: 0px 0px 29px -11px rgba(69, 168, 112, 1);
}

.cart-btn:active {
  transform: scale(0.9);
}

.previous-links-container {
  height: 7vh;
  display: flex;
  justify-content: center;
}

.previous-links-container span {
  font-size: 1rem;
  color: rgba(255, 217, 0, 0.789);
  cursor: pointer;
  transition: all ease-in-out 150ms;
}

.previous-links-container span:hover {
  text-shadow: 0px 0px 10px rgba(161, 206, 0, 0.61);
}

.previous-links-container span:active {
  transform: scale(0.95);
}

.product-details-review-section-container {
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-details-review-container {
  width: 80%;
  height: 15rem;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='45' height='51.96' patternTransform='scale(2) rotate(15)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M52.48 44.47a15 15 0 01-14.96 0 15 15 0 00-7.48 12.96M7.48 44.42a15 15 0 01-14.96 0M15 57.44c0-5.35-2.9-10.35-7.52-13.02a15 15 0 017.48-12.97M7.48 18.5a14.97 14.97 0 01-14.98-.03m15.02-.03A15 15 0 0115 5.47a15 15 0 00-4.4-10.62m23.8.05A15 15 0 0030 5.53a15 15 0 017.48 12.96 14.9 14.9 0 0015.02-.03m-22.5 13a15.13 15.13 0 017.52 13.01m-7.56-39a15 15 0 01-14.96 0M7.48 18.5a15 15 0 017.48 12.96 15 15 0 0015.04 0 15 15 0 017.48-12.96'  stroke-width='1' stroke='hsla(259, 0%, 89%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  border-radius: 2rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 38px -14px rgba(240, 240, 240, 1);
  -moz-box-shadow: 0px 0px 38px -14px rgba(240, 240, 240, 1);
  box-shadow: 0px 0px 38px -14px rgba(240, 240, 240, 1);
}

.product-details-review-header {
  height: 20%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 0px 0px 5px rgba(89, 94, 206, 0.42);
}

.product-details-review-header-text {
  margin-right: auto;
}

.product-details-review-header-subtext {
  font-size: 0.9rem;
  font-weight: 400;
  margin-right: 0.2rem;
}

.product-details-review-content-container {
  height: 55%;
  display: flex;
  padding: 0 1.5rem;
}

.product-details-review-content {
  height: 100%;
  width: 100%;
  font-size: 0.9rem;
  background-color: rgba(191, 191, 191, 0.768);
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: inset 0px 0px 50px 2px rgba(4, 4, 5, 0.14);
  box-shadow: inset 0px 0px 50px 2px rgba(4, 4, 5, 0.14);
  filter: drop-shadow(0px 0px 5px #171749);
}

.product-details-review-footer-container {
  height: 25%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.product-details-review-footer-container span {
  margin-right: auto;
  font-weight: 500;
  font-size: 0.8rem;
}

.product-details-review-footer-container button {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  height: 65%;
  width: 9rem;
  background-color: rgba(220, 26, 26, 0.809);
  font-weight: 500;
  transition: all ease-in-out 150ms;
  color: white;
}

.product-details-review-footer-container button:hover {
  filter: brightness(120%);
}

.product-details-review-footer-container button:active {
  transform: scale(0.95);
}

.product-details-post-section {
  width: 50vw;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-details-post-header {
  width: 80%;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.product-details-post-header span {
  font-size: 1.2rem;
  font-weight: bold;
  background: rgb(169, 84, 226);
  background: linear-gradient(51deg, rgba(169, 84, 226, 1) 0%, rgba(255, 78, 78, 1) 50%, rgba(231, 162, 66, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 1rem;
  text-shadow: 0px 0px 6px rgba(219, 219, 219, 0.25);
}

.product-details-post-input-container {
  width: 80%;
  height: 20rem;
  border-radius: 2rem;
  overflow: hidden;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='45' height='51.96' patternTransform='scale(2) rotate(15)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M52.48 44.47a15 15 0 01-14.96 0 15 15 0 00-7.48 12.96M7.48 44.42a15 15 0 01-14.96 0M15 57.44c0-5.35-2.9-10.35-7.52-13.02a15 15 0 017.48-12.97M7.48 18.5a14.97 14.97 0 01-14.98-.03m15.02-.03A15 15 0 0115 5.47a15 15 0 00-4.4-10.62m23.8.05A15 15 0 0030 5.53a15 15 0 017.48 12.96 14.9 14.9 0 0015.02-.03m-22.5 13a15.13 15.13 0 017.52 13.01m-7.56-39a15 15 0 01-14.96 0M7.48 18.5a15 15 0 017.48 12.96 15 15 0 0015.04 0 15 15 0 017.48-12.96'  stroke-width='1' stroke='hsla(259, 0%, 89%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  display: flex;
  flex-direction: column;
}

.product-details-post-header-input-container {
  height: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
}

.product-details-post-header-input-container input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  height: 2.3rem;
  background-color: gray;
}

.product-details-post-header-input-container label {
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0.2rem;
}

.product-details-post-header-textarea-container {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
}

.product-details-post-header-textarea-container label {
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0.2rem;
}

.product-details-post-header-textarea-container textarea {
  height: 80%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding-left: 1rem;
}

.product-details-post-header-button-container {
  height: 16%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;
  background-color: violet;
}
